            <div class="rightmenubar hero-unit">
                <H3>
                    <a href="#global">Email 模板定制</a>
                </H3>
            </div>
            <div class="rightinputbox hero-unit">

                <div class="row-fluid">
                    <div class="spa10 inputbox">
                        <label>邮件活动名称:</label>
                        <input type="text" placeholder="请填入邮箱" name="emailname"/>
                    </div>
                    <div class="spa10 inputbox">
                        <label>填入优惠码:</label>
                        <input type="text" placeholder="请填入优惠码" name="emailname"/>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="row-fluid">
                        <div class="spa10 inputbox">
                            <label>请填入商品相应的信息:</label>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span10 inputbox">
                            <input type="text" placeholder="请填入商品名称" name="productname"/>
                            <input type="text" placeholder="请填入商品说明" name="productintro"/>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span10 ">
                            <input type="text" placeholder="请填入最终价格" name="productfinalprice"/>
                            <input type="text" placeholder="请填入市场价" name="productmarketprice"/>
                            <input type="text" placeholder="请填入商品图片名称" name="productpic"/>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span10 inputbox">
                            <input type="text" placeholder="请填入商品链接" name="productlink"/>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="row-fluid">
                        <div class="spa10 inputbox">
                            <label>请填入商品相应的信息:</label>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span10 inputbox">
                            <input type="text" placeholder="请填入商品名称" name="productname"/>
                            <input type="text" placeholder="请填入商品说明" name="productintro"/>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span10 ">
                            <input type="text" placeholder="请填入最终价格" name="productfinalprice"/>
                            <input type="text" placeholder="请填入市场价" name="productmarketprice"/>
                            <input type="text" placeholder="请填入商品图片名称" name="productpic"/>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span10 inputbox">
                            <input type="text" placeholder="请填入商品链接" name="productlink"/>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span4 inputbox">
                        <button href="#" class="btn btn-large btn-primary searchbutton">保存</button>
                    </div>
                    <div class="span4 inputbox">
                        <button href="#" class="btn btn-large btn-primary searchbutton">再添加两个商品</button>
                    </div>
                </div>
            </div>
            <!--/rightsearchoptionbox-->

        </div>