            <div class="rightmenubar hero-unit">
                <H3>
                    <a href="#global">Email 模板定制</a>
                </H3>
            </div>
            <div class="rightinputbox hero-unit">
                <div class="row-fluid">
                    <div class="spa10 inputbox">
                        <label>会员号UserCode:</label>
                        <label>123456</label>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="spa10 inputbox">
                        <label>会员内码MemNo:</label>
                        <label>123456</label>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="spa10 inputbox">
                        <label>昵称/用户名:</label>
                        <label>张三那</label>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="spa10 inputbox">
                        <label>E-mail:</label>
                        <input type="text" placeholder="请填入邮箱" value="jinwyp@163.com"/>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="spa10 inputbox">
                        <label>Mobile手机:</label>
                        <input type="text" placeholder="请填入手机" value="13564568304"/>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="spa10 inputbox">
                        <label>会员等级:</label>
                        <label>普通会员</label>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="spa10 inputbox">
                        <label>注册时间:</label>
                        <label>2004/11/1 21:39:37</label>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="spa10 inputbox">
                        <label>姓名:</label>
                        <input type="text" placeholder="请填入姓名"/>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="spa10 inputbox">
                        <label>性别:</label>
                        <div class="btn-group">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                未选择
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a tabindex="-1" href="#">男</a></li>
                                <li><a tabindex="-1" href="#">女</a></li>
                                <!-- dropdown menu links -->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="spa10 inputbox">
                        <label>所在地区:</label>
                        <div class="btn-group">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                未选择省
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a tabindex="-1" href="#">上海市</a></li>
                                <li><a tabindex="-1" href="#">北京市</a></li>
                                <li><a tabindex="-1" href="#">浙江省</a></li>
                                <!-- dropdown menu links -->
                            </ul>
                        </div>
                        <div class="btn-group">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                未选择市
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a tabindex="-1" href="#">上海市</a></li>
                                <li><a tabindex="-1" href="#">北京市</a></li>
                                <li><a tabindex="-1" href="#">杭州市</a></li>
                                <!-- dropdown menu links -->
                            </ul>
                        </div>
                        <div class="btn-group">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                未选择区
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a tabindex="-1" href="#">XXX区</a></li>
                                <li><a tabindex="-1" href="#">XXX区2</a></li>
                                <li><a tabindex="-1" href="#">XXX区3</a></li>
                                <!-- dropdown menu links -->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span4 inputbox">
                        <label>与宝宝关系:</label>
                        <div class="btn-group">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                未选择
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a tabindex="-1" href="#">爸爸</a></li>
                                <li><a tabindex="-1" href="#">妈妈</a></li>
                                <li><a tabindex="-1" href="#">亲友</a></li>
                                <!-- dropdown menu links -->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="spa10 inputbox">
                        <label>QQ:</label>
                        <input type="text" placeholder="请填入QQ"/>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="spa10 inputbox">
                        <label>MSN:</label>
                        <input type="text" placeholder="请填入MSN"/>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="spa10 inputbox">
                        <label>密码安全问题:</label>
                        <input type="text" placeholder="请填入密码安全问题"/>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="spa10 inputbox">
                        <label>密码安全答案:</label>
                        <input type="text" placeholder="请填入密码安全答案"/>
                    </div>
                </div>



                <div class="row-fluid">
                    <div class="span4 inputbox">
                        <button href="#" class="btn btn-large btn-primary searchbutton">保存</button>
                    </div>

                </div>
            </div>
            <!--/rightsearchoptionbox-->

        </div>