/* CSS reset */
html{background:#fff;font:12px/1.5 tahoma,arial,\5b8b\4f53,sans-serif;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}
a{text-decoration:none;}
a:hover{text-decoration:underline;}
.white,.white a{color:#fff}.blue,.blue a{color:#004499}.gray4,a.gray4{color:#999}
.red, .red a, a.red{color:red;}.green{color:#0E774A}
select optgroup{color:#CAC8BB;}
header{ display:block}
body{text-align: center;}
.wrapper{width:1000px;margin:0 auto;text-align: left;overflow: hidden;}
/*goods-list*/
.goods-list{padding:2px 10px;width:980px;overflow: hidden;font-family: Microsoft YaHei,SimHei,Verdana, Arial, Helvetica, sans-serif;background:url(images/bg_content.jpg) repeat-y 0 0;}
.goods-list a{color:#666;}
.goods-list a:hover{color:#ca0002;}
.goods-list dl{float:left;margin:0 2px;border:2px solid #cbcbc9;padding:4px;width:180px;display:inline;background: #fff;color:#787878;font-size:14px;}
.goods-list dl dt{padding-top:10px;text-align:center;}
.goods-list h3{height:40px;overflow:hidden;}
.goods-list .seckillPrice{color:#ca0002;font-weight:800;}
.goods-list .seckillPrice em{font-size:20px;font-weight:900;}
.goods-list .btn{width:180px;height:34px;display:block;zoom:1;background:url(images/btn_seckill.jpg) no-repeat;}
.goods-list .btn_soon{background:url(images/btn_soon.jpg) no-repeat;}
