/**public**/
.main{width:790px;float:right;}
.sidebar{width:200px;float:left;}
.crumbs{height:30px;line-height:30px;color:#b1b1b1;}
.crumbs span{color:#000;}
.bd{border:1px solid #dedede;margin-bottom:10px;}
.hd{background: #666 url(../images/hd_sidebar.gif) repeat-x;padding-left:10px;height:28px;border-bottom:1px solid #dedede;line-height:28px;font-size:12px;font-weight:800;}
.hd h3{font-size:14px;font-weight:800;}

/*button*/
.btn_m{height:30px;line-height:30px;display:inline-block;padding-left:10px;background-image:url(../images/button_mid.gif);background-repeat: no-repeat;}
.btn_m_o{background-position: 0 -30px;}
.btn_m_g{background-position: 0 -90px;}
.btn_m a{padding-right:8px;display:inline-block;color:#fff;text-decoration:none;font-size:12px;background-image:url(../images/button_mid.gif);}
.btn_m_o a{background-position: right -30px;}
.btn_m_g a{background-position: right -90px;color:#666;}

/*other*/
.gotop{display:none;width:36px;height:36px;position:fixed;_position: absolute;left:50%;margin-left:520px;bottom:100px;_bottom: "auto";cursor: pointer;background:url(../images/gotop.gif) no-repeat;}

/**sidebar**/
.sidebar .bd{width:198px;}
/*category_sort*/
.category_sort {font-size:14px;}
.category_sort .hd{color:#ff7800;font-weight:800;}
.category_sort .hd a{color:#ff7800;}
.category_sort li{padding:5px 0 5px 25px;}
.category_sort .current{font-weight:800;}
/*goods_sort*/
.goods_sort li{padding:6px 9px 7px;width:180px;border-bottom:1px dashed #ebebeb;overflow:hidden;}
.goods_sort .num{float:left;text-align:center;color:#fff;margin-right:5px;background:#b1b1b1;margin-top:3px;width:12px;height:12px;font:800 9px/12px  Verdana, Geneva, sans-serif;}
.goods_sort .n01{background:#e60000;}
.goods_sort .n02,.goods_sort span.n03{background:#ff7800;}
.goods_sort li.c dl dt{float:left;width:180px;margin-bottom:5px;}
.goods_sort li.c dl dd{padding-left:20px;}
.goods_sort li.c dl dd img{float:left;border:1px solid #dedede;margin-right:10px;}
.goods_sort li.c dl dd span{float:left;}
.goods_sort li.c{height:95px;display:none;background:#fff}
.goods_sort li.d{display:block;}
.goods_sort del{color:#666;}
.goods_sort .price_now{color:#e60000;font-weight:700;}

/**main**/
.main .hd{padding-left:20px;height:30px;line-height:30px;background: #fff0c0;border:none;text-align:left;}
.main .hd h3{color:#ff7800;font-weight:bold;}
/*goods_list*/
.goods_list{width:790px;margin-bottom:20px;padding-bottom:10px;text-align: center;overflow: hidden;font-size:12px;line-height: 18px;}
.goods_list dl{float:left;padding:5px;width:160px;margin:10px 20px 0 10px;display:inline;background: #fff;}
.goods_list p{padding-top:5px;}
.goods_list p del{color:#666;margin-right:5px;}
.goods_list p .price_now{color:#e60000;font-size:14px;font-weight:700;}
.goods_list dl.hover{background-color:#fff6d7;}
.goods_list .btn_m_o {margin-right:5px;}

.list_view .goods_list dl{width:780px;margin: 10px 0 0;border-bottom:1px solid #dedede;background: #fff;}
.list_view .goods_list dl dt{float:left;width:160px;}
.list_view .goods_list dl dd{float:right;width:600px;text-align:left;}
.list_view .goods_list p del,.id_list .goods_list p .price_now{display: block;padding-top:5px;}
.list_view .goods_list p.price_wrap{margin-bottom:40px;}

/*slide*/
.slideCat{position:relative;overflow:hidden;margin-bottom:10px;}
.slideCat ul{position: absolute;width:790px;height:280px;}
.slideCat h3{position:absolute;width:98%;font-weight:800;font-size:12px;text-indent:2%;line-height:26px;z-index:102; color:#ccc;}
.slideCat h3 a{color:#fff;}
.slideCat h3 a:hover{color:#f60;}
.slideCat .slide_btns{position:absolute;right:0;bottom:3px;z-index:103;}
.slideCat .slide_btns span{float:left;width:20px;height:20px;margin-right:5px;background-color:#fff;color:#f90;cursor:pointer;font-size:12px;line-height:20px;text-align:center;font-weight:800; }
.slideCat .slide_btns span.current{ background-color:#f90;  color:#fff; font-size:13px;}
.slideCat .slide_lay{position:absolute;background:#000;height:26px;width:100%; z-index:101;}

/*sift*/
.attrSelect .hd{height:28px;line-height:28px;background:url(../images/hd_sidebar.gif) repeat-x;border-bottom:1px solid #dedede;}
.attrSelect ul{padding:0 10px 10px;overflow: hidden;}
.attrSelect ul li{padding-top:10px;width:100%;border-bottom:1px dashed #ccc;overflow: hidden;position: relative;}
.attrSelect ul li dd{float:left;display:inline-block; padding-right:10px; height:30px; width:120px;}
.attrSelect ul li dl{float:right;width:680px;overflow: hidden;}
.attrSelect ul li strong{float:left;width:80px;text-align: center;font-weight:800;}
.attrSelect dd a:hover,.attrSelect dd a.selected{ background-color:#ff7800; color:#fff; font-weight:bold;padding:3px 5px;}
.attrSelect ul li .more{position: absolute;right:0;top:10px;color:#e60000;cursor: pointer;}
.sift {height:30px;line-height: 30px;margin-top:10px;border-bottom: 2px solid #ff7800;}
.sift .order{float:left;width:350px;}
.sift .order li{float:left;margin-right:2px;}
.sift .order li a{width:66px;height:30px;display:block;background:#f4f4f4;font-weight:800;text-align:center;cursor: pointer}
.sift .order li a.selected,.sift .order li a:hover{background: #ff7800;color:#fff;}
.showStyle {float:left;margin-left:60px;_margin-top:8px;display:inline;}
.showStyle a.switch_thumb{width:38px;height:16px;display:inline-block; vertical-align:middle;background:url(../images/icon_showstyle.gif) no-repeat 0 0;cursor: pointer;}
.showStyle a.switch_thumb:hover{opacity: 0.75;}
.showStyle a.swap{background-position: 0 bottom;}
.pagin{float:right;}
.pagin .text{font-weight:800;}
.pagin .text strong{color:#e60000;font-weight:800;}
.pagin a,.pagin .disabled{padding:3px 5px;border:1px solid #ff7800;color:#ff7800;margin-left:10px;}
.pagin .disabled{border:1px solid #b1b1b1;color:#b1b1b1;}