/**sidebar**/
.sidebar .bd{width:198px;}
/*category_sort*/
.category_sort {font-size:14px;}
.category_sort .hd{color:#ff7800;font-weight:800;}
.category_sort .hd a{color:#ff7800;}
.category_sort li{padding:5px 0 5px 25px;}
.category_sort .current{font-weight:800;}
/*goods_sort*/
.goods_sort dl{padding:6px 10px 7px 20px;width:166px;border-bottom:1px dashed #ebebeb;overflow:hidden;position:relative;}
.goods_sort .num{position:absolute;top:5px;left:5px;text-align:center;color:#fff;margin-right:5px;background:#b1b1b1;margin-top:4px;width:12px;height:12px;font:800 9px/12px  Verdana, Geneva, sans-serif;border-radius:4px;}
.goods_sort .n01{background:#e60000;}
.goods_sort .n02,.goods_sort span.n03{background:#ff7800;}
.goods_sort dd{display:none;}
.goods_sort dd img{float:left;border:1px solid #dedede;margin-right:10px;}
.goods_sort dd p{padding-left:80px;padding-bottom:5px;}
.goods_sort del,.goods_sort span{display:block;}
.goods_sort del{color:#666;}
.goods_sort .price_now{color:#e60000;font-weight:700;}

/**main**/
.main .hd{padding-left:20px;height:30px;line-height:30px;background: #fff0c0;border:none;text-align:left;}
.main .hd h3{color:#ff7800;font-weight:bold;}
/*goods_list*/
.goods_list{width:790px;margin-bottom:20px;padding-bottom:10px;text-align: center;overflow: hidden;font-size:12px;line-height: 18px;}
.goods_list dl{float:left;padding:5px;width:160px;margin:10px 20px 0 10px;display:inline;background: #fff;}
.goods_list p{padding-top:5px;}
.goods_list p del{color:#666;margin-right:5px;}
.goods_list p .price_now{color:#e60000;font-size:14px;font-weight:700;}
.goods_list dl.hover{background-color:#fff6d7; text-decoration:none;}
.goods_list .btn_m_o {margin-right:5px;}


/*slide*/
.slideCat{position:relative;overflow:hidden;margin-bottom:10px;}
.slideCat ul{position: absolute;width:790px;height:280px;}
.slideCat h3{position:absolute;width:98%;font-weight:800;font-size:12px;text-indent:2%;line-height:26px;z-index:102; color:#ccc;}
.slideCat h3 a{color:#fff;}
.slideCat h3 a:hover{color:#f60;}
.slideCat .slide_btns{position:absolute;right:0;bottom:3px;z-index:103;}
.slideCat .slide_btns span{float:left;width:20px;height:20px;margin-right:5px;background-color:#fff;color:#f90;cursor:pointer;font-size:12px;line-height:20px;text-align:center;font-weight:800; }
.slideCat .slide_btns span.current{ background-color:#f90;  color:#fff; font-size:13px;}
.slideCat .slide_lay{position:absolute;background:#000;height:26px;width:100%; z-index:101;}

/*sift*/
.attrSelect .hd{height:28px;line-height:28px;background:url(../images/hd_sidebar.gif) repeat-x;border-bottom:1px solid #dedede;}
.attrSelect ul{padding:0 10px 10px;overflow: hidden;}
.attrSelect ul li{padding-top:10px;width:100%;border-bottom:1px dashed #ccc;overflow: hidden;position: relative;}
.attrSelect ul li dd{float:left;display:inline-block; padding-right:10px; height:30px; width:120px;}
.attrSelect ul li dl{float:right;width:680px;overflow: hidden;}
.attrSelect ul li strong{float:left;width:80px;text-align: center;font-weight:800;}
.attrSelect dd a:hover,.attrSelect dd a.selected{display:inline-block; height:22px;line-height:22px;padding:0 5px;background-color:#ff7800; color:#fff; font-weight:bold;text-decoration:none;border-radius: 4px;}
.attrSelect ul li .more{position: absolute;right:0;top:10px;color:#e60000;cursor: pointer;}
.sift {height:30px;line-height: 30px;margin-top:10px;border-bottom: 2px solid #ff7800;}
.order{float:left;width:350px;}
.order li{float:left;margin-right:2px;}
.order a{width:66px;height:30px;display:block;background:#f4f4f4;font-weight:800;text-align:center;cursor: pointer;border-top-left-radius: 6px;border-top-right-radius:6px;}
.order .selected,.order a:hover{background-color: #ff7800;color:#fff;text-decoration:none;}
.order .order_desc{background:#ff7800 url(../images/icon_order.gif) no-repeat 2px 0;}
.order .order_asc{background:#ff7800 url(../images/icon_order.gif) no-repeat 2px -30px;}
.showStyle {float:left;margin-left:60px;_margin-top:8px;display:inline;}
.showStyle a.switch_thumb{width:38px;height:16px;display:inline-block; vertical-align:middle;background:url(../images/icon_showstyle.gif) no-repeat 0 0;cursor: pointer;}
.showStyle a.switch_thumb:hover{opacity: 0.75;}
.showStyle a.swap{background-position: 0 bottom;}
.pagin{float:right;}
.pagin .text{font-weight:800;}
.pagin .text strong{color:#e60000;font-weight:800;}
.pagin a,.pagin .disabled{padding:3px 5px;border:1px solid #ff7800;color:#ff7800;margin-left:10px;}
.pagin .disabled{border:1px solid #b1b1b1;color:#b1b1b1;}