.flash-sales {margin-top: -2px; padding-bottom: 40px;overflow:hidden;background-color: #f4f4f4; font-family: "Microsoft YaHei"; color: #1a1a1a;}
.flash-sales .more-brand,.flash-sales .price-box,.flash-sales .time-box .icon, .flash-sales .item-img .corner, .fs-detail-list .corner ,.advance-week span,.commitment-box .icon, .popup-bar .btn-gotop span,.fs-compositor .sort-field span{background: url("../images/flash_sales/bg_flash_sales.png") no-repeat scroll 0 0 transparent;}
.flash-sales .title-main {padding: 10px;height: 20px; line-height: 20px;background-color: #fff; box-shadow: 0 0 1px #e0e0e0; }
.flash-sales .title-main h2 {float:left; font-size: 20px;}
.flash-sales .title-main .en {font:400 10px/12px arial;color: #bababa;padding-left:5px;}
.flash-sales .time-box {color: #4d4d4d; display: inline-block;  margin-top: 10px; overflow: hidden;}
.flash-sales .time-box .icon{ float: left;  margin-right: 5px; width:18px; height: 18px; background-position: -213px -132px;}
.flash-sales .time-box span {font-weight: 700;}
.flash-sales a:hover {color: #ff7800;text-decoration: none;}
.mt20 {margin-top:20px;}
/*mod-menu*/
.mod-menu {height: 30px; background-color: #fff; box-shadow: 0 1px 3px #ccc;}
.mod-menu li{ float: left; height:14px; line-height:14px; margin-top:8px;font-size: 12px; padding: 0 10px;border-right:1px solid #e0e0e0;}
.mod-menu a {color: #4d4d4d;}
.mod-menu .menu-now{color: #ff7800;text-decoration: none; }
.mod-menu .icon {float: left;height: 15px; margin: 0 5px 0 0; background-image: url("../images/flash_sales/bg_flash_sales.png");background-repeat: no-repeat; display: inline-block;overflow: hidden;}
.mod-menu .menu-bbfs .icon {background-position: -160px -180px; width: 15px;}
.mod-menu .menu-bbfs:hover .icon, .mod-menu .menu-bbfs .icon-now {background-position: -160px -196px;}
.mod-menu .menu-wjts .icon {background-position: -175px -180px; width: 16px;}
.mod-menu .menu-wjts:hover .icon, .mod-menu .menu-wjts .icon-now {background-position: -175px -196px;}
.mod-menu .menu-ccqj .icon {background-position: -192px -180px; width: 17px;}
.mod-menu .menu-ccqj:hover .icon, .mod-menu .menu-ccqj .icon-now {background-position: -192px -196px;}
.mod-menu .menu-mama .icon {background-position: -209px -180px; width: 11px;}
.mod-menu .menu-mama:hover .icon, .mod-menu .menu-mama .icon-now {background-position: -209px -196px;}
.mod-menu .menu-bbyp .icon {background-position: -220px -180px; width: 19px;}
.mod-menu .menu-bbyp:hover .icon, .mod-menu .menu-bbyp .icon-now {background-position: -220px -196px;}
/*mod-brand-onsell*/
.mod-brand-onsell {margin-top:10px; background-color: #fff;box-shadow: 0 1px 3px #ccc;  }
.mod-brand-onsell .fs-brand-content {padding-bottom:10px;height: 50px;overflow: hidden;}
.mod-brand-onsell .fs-brand-more li {float: left;margin:10px 0 0 10px; display: inline;}
.mod-brand-onsell .fs-brand-more a img{float:left; padding:5px; border: 1px solid #ddd; width:88px; height: 28px;}
.mod-brand-onsell .fs-brand-content a:hover img {border: 1px solid #ff7800;}
.mod-brand-onsell .more-brand{float:right; width:16px; height: 16px;cursor: pointer;}
.mod-brand-onsell .more-brand em{display: none;}
.mod-brand-onsell .more-open {background-position:-230px -115px; }
.mod-brand-onsell .more-close {background-position:-214px -115px; }

/*fs-selling*/
.fs-area {float: left; width: 760px;display: inline-block; }
.fs-list .title-notice {float:right; color: #878787;}
.fs-list .fs-item { position: relative;margin-bottom: 10px; border: 1px solid #fff; width: 758px; height: 240px; background-color:#fff;box-shadow: 0 1px 3px #ccc; clear: both; display: inline-block; }
.fs-list .fs-item-hover {border:1px solid #f90;}
.fs-list .item-info {float: left; position:relative; z-index:99;padding: 10px 0 10px 10px; width: 188px;display: inline-block;}
.fs-list .item-info .logo { width: 160px;height: 80px; overflow: hidden;}
.fs-list .item-info .desc {color: #1a1a1a; font-size: 14px;}
.fs-list .item-info .price-box {position: absolute; top:140px; left: -10px;width: 248px;height: 57px; line-height:50px;background-position: 0 0; overflow: hidden;}
.fs-list .item-info .price-box .price { padding-left:20px;font-size: 22px;color: #fff; }
.fs-list .item-info .price-box .go {display: inline-block; float: right; height: 30px; margin: 13px 23px 0 0; width: 65px;}
.flash-sales .fs-list .time-box {position: absolute; top:200px; left:10px;}
.fs-list .item-img { position: relative;float: right; width: 540px; height: 240px; z-index:98;display: inline-block; overflow: hidden; }
.fs-list .item-img .corner {display: inline-block; width: 105px;height: 63px; overflow: hidden; position: absolute; right: 0; top: 0;  z-index: 1;}
.fs-list .item-img .corner-new {background-position: 0 -115px;}
.fs-list .item-img .corner-soonTheEnd {background-position: -105px -115px;}
.fs-list .item-img .notice-name {display:none;bottom: 0;left: 0; position: absolute; z-index: 1;}
.fs-list .item-img .notice-name .notice-bg {width: 540px;background: rgb(255,153,0);background: rgba(255,153,0,0.7); display: inline-block; height: 22px; }
.fs-list .item-img .notice-name .notice-text { position: absolute; left: 0; top: 0; width: 540px;height: 22px; line-height: 22px;text-align: center;z-index: 2;color: #fff;display: inline-block;}
/*fs-comeSoon*/
.fs-comeSoon .item-info .price-box {background-position: 0 -57px;}

/**fs-side**/
.fs-side {float: right; width: 220px;}
.fs-side .mod-side {margin-bottom: 20px;padding:10px; width: 200px;background-color: #fff; box-shadow: 0 1px 3px #ccc; display: inline-block; }
.fs-side .mod-side h2 {background-color: #4d4d4d; color: #fff; font-size: 14px; font-weight: normal; height: 30px; line-height: 30px; padding-left: 10px; }
/*advance-week*/
.advance-week {float:left;}
.advance-week span {width: 80px;padding-top:16px;height: 48px;display:block;background-position: -80px -178px;text-align: center;}
.advance-week span.now {color: #fff; font-size:14px;font-weight: 700;background-position:0 -178px;}
.advance-week-con {float:left;padding:16px;width:88px;height:31px;border-bottom:1px solid #f4f4f4;vertical-align: middle;text-align: center;}
.advance-week-logo {width:88px;height:31px;}
/*commitment-box*/
.commitment-box {color: #4d4d4d;}
.commitment-box p{padding:5px 10px;}
.commitment-box li {padding:10px; border-top:1px solid #f4f4f4; font-size:14px; font-weight:400;}
.commitment-box li em {color: #f90; font-style:normal; }
.commitment-box .icon {float:left; margin-top:-2px; width:24px;height:24px;margin-right:10px;}
.commitment-box .icon-time {background-position: -160px -214px;}
.commitment-box .icon-free {background-position: -184px -214px;}
.commitment-box .icon-return {background-position: -208px -214px;}
.commitment-box .icon-tel {background-position: -232px -214px;}
.commitment-box .hotline { padding:0 0 0 34px;color: #bababa;font-size:11px;}

/*popup*/
.popup-bar {position: fixed; _position: absolute; right: 10px;bottom: 250px; _bottom: "auto";  border:1px solid #e0e0e0; width: 78px; height: auto;background: #fff; font-family: "Microsoft YaHei";cursor: pointer;}
.popup-bar li {padding:10px; border-top:1px solid #f4f4f4; font-size:14px; font-weight:400;text-align: center;}
.popup-bar li a:hover {color:#f90; text-decoration: none;}
.popup-bar li.status-on {background: #f90;color:#fff;}
.popup-bar li.status-on a{color:#fff;}
.popup-bar li.btn-gotop span{ display:inline-block;width:22px; height:11px; background-position: -214px -150px; overflow: hidden;}

/**fs-detail**/
.fs-detail-area{width:100%;display: inline-block;}
.fs-detail-area .title-detail {background-color:#fff; border-bottom: 1px solid #f4f4f4;box-shadow: 0 1px 3px #ccc; height:50px;  padding: 0 10px;}
.fs-detail-area .title-detail  h1{float:left; font-size: 20px; line-height: 50px;}
.fs-detail-area .time-box {float:right;font-size:12px;margin-top: 15px;}

.fs-detail-area .detail-info {padding:10px;height:333px; background-color:#fff; border-bottom: 1px solid #f4f4f4;overflow:hidden;box-shadow: 0 1px 3px #ccc; }
.fs-detail-area .detail-info .info-pic {float: left; position: relative; width: 750px; height: 333px;  }
.fs-detail-area .detail-info .info-content {float: right; width: 220px;}
.fs-detail-area .detail-info .info-content .logo {height:77px;}
.fs-detail-area .detail-info .info-content .text {color: #4d4d4d; height: 130px; line-height: 18px; margin: 10px 0; overflow: hidden; white-space: normal; word-break: break-all;}
.fs-detail-area .detail-info .info-content .discount {color: #e60000; font-size: 30px; font-weight: 700;}

.fs-detail-area .detail-taxis { margin: 10px 0; padding-right:10px; height: 40px; background-color: #fff; box-shadow: 0 1px 3px #ccc;}
.fs-detail-area .detail-taxis .account {float: right;line-height: 40px;}
.fs-compositor {float: left;}
.fs-compositor li {float: left; height:16px;line-height:16px;margin-top:12px;padding:0 10px;font-size: 12px;}
.fs-compositor li span {float:left;cursor: pointer;}
.fs-compositor li label,.filter-field{padding-left:5px; vertical-align: middle;}
.fs-compositor .sort-field { width: 7px;height: 16px;margin-left: 6px;overflow: hidden;}
.fs-compositor .order-asc, .fs-compositor .order-desc {float:left; width: 7px; height: 7px;overflow: hidden;zoom:1;}
.fs-compositor .sort-field .order-desc {background-position: -228px -163px;margin-top: 2px;}
.fs-compositor .sort-field .order-asc {background-position: -221px -163px;_background-position: -220px -163px;}
.fs-compositor .sort-asc .order-desc {background-position: -214px -163px; }
.fs-compositor .sort-asc .order-asc {background-position: -235px -163px;_background-position: -234px -163px;}

.fs-detail-list { display: inline-block;overflow: hidden;}
.fs-detail-list .detail-item {float: left;position: relative; padding:9px; border: 1px solid #e0e0e0; margin: 0 20px 20px 0; width: 300px;height: 364px;overflow: hidden; box-shadow: 0 1px 3px #e0e0e0;background-color: #fff;}
.fs-detail-list .row3 {margin-right:0;}
.fs-detail-list .detail-item-hover {border-color:#f90;}
.fs-detail-list .detail-item .pic { position: relative; height: 300px;width: 300px; overflow: hidden;}
.fs-detail-list .detail-item .title {font-size: 14px; height: 30px; line-height: 30px; display: inline-block; overflow: hidden;}
.fs-detail-list .detail-item .price {color: #e60000; line-height: 1.2;}
.fs-detail-list .detail-item .price-now {padding-right:10px;font-size:14px; font-weight: 700;}
.fs-detail-list .detail-item .price-now em{ font-size:24px; font-style:normal; }
.fs-detail-list .detail-item .discount {font-size:14px;}
.fs-detail-list .detail-item .price-market {padding-left:20px; font-size: 12px; color:#878787; text-decoration: line-through;}
.fs-detail-list .corner {display: inline-block; width: 90px;height: 70px; position: absolute; right: 0; top: 0;  z-index: 1;}
.fs-detail-list .corner-end {background-position:0 -243px; }
.fs-detail-list .corner-soonTheEnd{background-position:-90px -243px; }