/* comm css */
html{background:#fff;font:12px/1.5 tahoma,arial,\5b8b\4f53,sans-serif;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}
*{margin:0;padding:0;}
html{border:0;width:100%;}
/*body,form{font-family:"宋体",Arail,verdana;font-size:12px;line-height:1.5em;color:#000;text-align:center;}*/
body,button,input,select,textarea{font:12px/1.5 tahoma,arial,\5b8b\4f53; font-family:"宋体",Arial,verdana;}
h1{font-size:15px;}h2,h3,h4{font-size:14px;}h5,h6{font-size:12px;}
img{border:none;display:inline-block;}
ul,ol,dl{color:#000; list-style-type:none;}em{font-style:normal;}
a,area{text-decoration:none; outline: none;blr:expression(this.onFocus=this.blur())}
a:link,a:visited{color:#333;}
a:hover,a:active{text-decoration:none;color:#666666;}
/*--=clearfix--*/
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{display:inline-block;}/* Hide from IE Mac */
.clear{padding:0;margin:0;clear:both;}
/*--=clear--*/
.clear:after{content:'\20';display:block;height:0;clear:both;}
.clear{*zoom:1;}
header{ display:block}
body{text-align: center;padding:0;}
.wrapper{width:1000px;margin:0 auto;text-align: left;overflow: hidden;}/* background-color:green;*/
/*--header--*/
.topHe{position:relative; top:0px; width:1000px; margin:auto; background-color:#ffffff; z-index:100;}
.bodycen{ text-align:center;}
.mid{ width:1000px; margin:auto;text-align:left; }
.headerBox{width:100%; height:28px; background:url(../images/60header_bg01.gif) repeat-x; position:relative; z-index:101;}
.Theader_top{ width:1000px; margin:auto;}
.Theader_topL{ float:left;}
.Theader_topR{ float:right; display:inline; position:relative; z-index:2; margin-right:0px; color:#7d7d7d;}
.Theader_topR li{ float:left; display:inline; line-height:25px;color:#7d7d7d;}
.Theader_topR li a,.Theader_topR li a:link{color:#7d7d7d;}
.Theader_top01_divON{ background-color:#ffffff; position:absolute; border:1px solid #f0efef; text-align:left; padding:7px 18px; top:22px; width:50px; right:0px; line-height:21px; display:none; z-index:9999;}
.headerPrenLo{ width:100%;background-color:#ffffff;position:relative; height:70px;}
.headerLogo{ width:1000px; margin:auto; text-align:center; height:70px; background:url(../images/telephone.jpg) no-repeat center right; position:relative;}
.headerLogo img{ float:left; display:inline-block;}
.Theader_Fronts{ background:url(../images/list_ico01.gif) no-repeat 9px 6px; padding-left:20px; width:1000px; margin:auto; color:#b6917f; line-height:24px; overflow:hidden; text-align:left;}
.Theader_Fronts span{ font-weight:bold;}
.Theader_Fronts a,.Theader_Fronts a:link{color:#b6917f; text-decoration:none;}
.nav{height:32px; overflow:hidden; width:540px; position:absolute; z-index:2; top:-32px; margin-left:280px;}
.nav dl{width:540px; margin:0px auto;}
.nav dl dd{ float:left; display:inline;}
.nav dl dd a.indexL,.nav dl dd a.indexL:link{ display:inline-block; background:url(../images/index.jpg) no-repeat; width:58px; height:32px; line-height:32px; color:#fe7402; text-align:center;}
.nav dl dd a.indexL:hover{background:url(../images/indexCurrent.png) no-repeat; width:58px; height:32px; line-height:32px; color:#ffffff; text-decoration:none; text-align:center;}
.nav dl dd a.hes b,.nav dl dd a.hes b:link{background:url(../images/indexCurrent.png) no-repeat; width:58px; height:32px; line-height:32px; color:#ff7800; text-decoration:none; text-align:center; display:inline-block; font-size:14px;}
.nav dl dd a.hes b:hover{color:#ffffff; text-decoration:none; background:url(../images/index_hover.jpg) no-repeat;}
.nav dl dd a,.nav dl dd a:link,.nav dl dd a:visited,.nav dl dd a:actived{color:#ffffff;}
#liLoginBtn{ color:#FF7800; font-weight:normal;}
.btnSebg{border-style: none;
	border-color: inherit;
	border-width: 0px;
	background: url(../images/btebs.jpg) no-repeat 0px 0px;
	width:252px; 	height:26px; 	display:inline-block; 	line-height:26px; 	margin-left:20px; margin-top:7px;
}
#txSearchCondition{height: 26px; width:195px; padding-left:5px; padding-right:5px; vertical-align: middle; border:0px; line-height:26px; background-color:transparent; margin-left:1px;}
#btnSearch{ position:absolute; border:0px; height:26px; width: 40px; margin-left:5px; vertical-align: middle; color:#ffffff; font-weight: bold; font-size: 12px; cursor:pointer; background-color:transparent;}
#ele1{ display:inline-block; background-color:#ffffff; border:1px #D8D8D8 solid; padding-left:5px; padding-right:5px;}
.nav{ height:45px; background-color:Transparent;}
.glossymenu{position: relative; margin: 0px auto; background:url(../images/titbg.png) no-repeat; height: 32px; list-style: none; width:476px; margin-top:-32px; margin-left:60px;}
.glossymenu li{float:left; display:inline-block; width:95px; background:url(../images/suxian_02.jpg) no-repeat top right; text-align:center;}

.glossymenu li a,.glossymenu li a:link{float: left; display: block; color:#ffffff;text-decoration: none; font-weight: bold; height: 32px;line-height: 32px; width:95px;text-align: center;cursor: pointer;}
.glossymenu li a b{font-size:14px;}
.glossymenu li.current a, .glossymenu li a:hover{background: url(../images/menu_hover.jpg) repeat-x;color: #ffffff; height:32px;} 
.glossymenu li.current a, .glossymenu li a:hover{ color:#fe7402;}
.glossymenu li.erse{background:none no-repeat center right;}
 
.nav dl dd a,.nav dl dd a b{ font-size:14px;}
.nav dl dd a.indexL:hover b{ color:#ffffff;}
.navmenu{ margin:0px; padding:0px;background-color:#EB6FA5; width:1003px; margin:auto;}
.navmenu dd{ float:left; display:inline-block; height:33px; font-size:14px;}
.navmenu dd a,.navmenu dd a:link{float:left; display:inline-block; padding-left:20px; height:33px; line-height:33px; padding-right:20px; background:url(../images/xian.png) no-repeat right 0px;background-color:#eb6fa5;}
.navmenu dd a:hover{ background-color:#FFE1DD; text-decoration:none;}
.navPrent{height:45px; background:url(../images/menu2.gif) repeat-x;}
.navChildren{ position:absolute; z-index:3; left:0px; width:1000px; height:42px; text-align:left; color:#f24980;}
.navChildren a,.navChildren a:link{color:#ffebd6;}
.navChildren a:hover{color:#ffebd6;}
#itemTotalCate{ display:inline-block; width:210px; text-align:left; height:25px; line-height:25px; vertical-align:middle; padding-left:10px; background-color:Transparent; border:none;}
#itemTotalCate{ color:#663300; font-size:14px; font-weight:bold; text-decoration:none;}
.hotSearch{ margin-left:20px; color:#e60000;}
.navChildren span.hotSearch a,.navChildren span.hotSearch a:link,.navChildren span.hotSearch a:hover{color:#e60000;}
.dline{ background:url(../images/dline.gif) repeat-x 0 9px;}
#subNavOne{ display:block; }

#main{margin:0 auto; width:1000px;}
#banner{display:block; margin:0 auto; width:1000px; height:65px; background:url(http://img.muyingzhijia.com/product/web/banner/zmm_0322s.jpg) no-repeat; position:relative; z-index:1; left:0px;}
#close{display:block; width:60px; height:30px; text-align:center; line-height:30px; background:none; color:#fff; font-size:12px; position:absolute; right:0px; z-index:1; top:25px; cursor:pointer;}
.shopcartbg{ display:inline-block; position:absolute; z-index:3; right:0px; top:5px; color:#d12e19; font-weight:bold; line-height:30px; padding-left:40px; background:url(../images/shopcartbg.jpg) no-repeat; width:166px; height:30px; }
.shopcartbg dd{ float:left; display:inline; width:72px; text-align:center;}
.shopcartbg a,.shopcartbg a:link{color:#ffffff;}
.wfc_gwc_blk{ border:2px #FE7402 solid; width:320px; background-color:#ffffff;}
.wfc_gwc_blk table td{ text-decoration:none;}
#top_shoppingcartInfo td a,#top_shoppingcartInfo td a:link,#top_shoppingcartInfo td a:hover{ text-decoration:none;}
#top_gwc_saleQty,#top_gwc_saleAmount{ color:#fc2a14; font-weight:bold;}
#wfc_gwc_eleG{ text-align:center; cursor:pointer;}
span.btn{ background:url(../images/loginbt.gif) 0px 0px; height:27px; line-height:27px; display:inline-block; padding-left:10px;}
span.btn a{display:inline-block;text-decoration:none;outline:none; cursor:pointer;height:27px; line-height:27px; padding-right:10px; font-weight:bold; background:url(../images/loginbt.gif) no-repeat right top; color:#ffffff; text-align:center;}

.list_top{ width:270px; overflow:hidden; margin-left:-38px;}
.list_top .Empty{ width:40px; height:25px; float:left;}
.hot{ width:268px;height:25px;}
.hot ul{ width:268px; height:25px; overflow:hidden; margin:0;padding:0;}
.hot ul li{height:25px; float:left; line-height:25px; padding-left:15px;}
.hot ul li a{text-decoration:none;font-size:12px; outline: none;blr:expression(this.onFocus=this.blur()); color:#F58000;}
.hot ul li a:link,.hot ul li a:visited{color:#F58000;}
.hot ul li a:hover,.hot ul li a:active{text-decoration:none;color:#F58000;}

#search-quick-item{ position:absolute; z-index:999; left:238px; top:30px; border:2px solid #FFAB24; width:223px; height:218px; display:none; background-color:#fff; text-align:center; }
#search-quick-item ul{ position:relative;}
#search-quick-item ul li{ height:109px; }
#search-quick-item ul li.fore{border-bottom:1px #CCCCCC solid;}
#search-quick-item dl{display:block; height:109px; width:216px; margin:0 auto; overflow:hidden;}
#search-quick-item dl dt,#search-quick-item dl dd{ float:left; display:inline-block;}
#search-quick-item dl dt label{width:20px; font-weight:bold; font-size:14px; float:left; display:block; text-align:center;}
#search-quick-item dl .cont_tent{width:170px; padding-left:10px;}
#search-quick-item dl .title{width:20px; line-height:22px; padding-left:2px;}
#search-quick-item dl .title_margin{ margin-top:10px;}
#search-quick-item dl .xian_cs{width:216px;}

.cont_tent label{ float:left; display:inline-block; margin-top:8px; width:150px; text-align:left;}
.cao_select,.cao_select .select_span{background:url(../images/sera_01s.jpg) no-repeat; display:inline-block;}
.cao_select,.cao_select .select_span{height:19px;}
.cao_select{position:absolute; z-index:1000; width:128px; margin:10px auto; left:0px; display:inline;}
.cao_select .select_span{position:absolute; z-index:1001; left:0px; color:#333;width:118px;height:19px;cursor:pointer;margin-top:0px;line-height:19px;padding-left:10px; text-align:left;}
#search-quick-item .sub{position:absolute; z-index:9999; color:#fff;width:128px;background:#2b2b2b;border:1px solid #fff;}
#search-quick-item .sub li{height:25px;line-height:24px;cursor:pointer;padding-left:10px;margin-bottom:-1px;border-bottom:1px dotted #fff; text-align:left}
#search-quick-item .sub li.hover{background:#8b8b8b;}
.Search_cao{ background:url(../images/sera_02s.jpg) no-repeat; width:90px; height:22px; border:none; margin-right:10px; cursor:pointer;}
#sub0{left: 84px; top: 26px; }
#sub1{left: 84px; top: 54px;  }
#sub2{left: 84px; top: 135px;  }
#sub3{left: 84px; top: 163px;  }

/*---index---*/
#mainleft01s{width:247px; height:945px; overflow:hidden; float:left; display:inline;}
.main_one_ping{ width: 753px; overflow:hidden; float:left; display:inline; }
#mainleft03s{ float:left; display:inline; width:545px; height:310px;}
#main_children_Content{width:200px; float:left; display:inline; margin-left:8px; _margin-left:6px; overflow:hidden; }
.notice a{display:block;font-size:12px;line-height:18px;text-decoration:none;color:#808080;font-family:Arial;font-size:12px; margin-left:15px;}
.notice span{ float:left; display:inline; color:#636363;}
.notice{ float:left; display:inline;background:url(../images/notice_01s.gif) no-repeat 38px 5px;border:1px solid #E2E2E2;width:191px;padding:3px 2px 2px 5px;}
.notice #div1{ float:left; display:inline;height:18px;overflow:hidden;}
#main_children_Content .tuijian_pic{ float:left;}
#main_children_Content .tuijian_pic img{float:left; display:inline-block; margin-top:5px;}
.mainleft12s{ float:left; display:inline; background-color:#ffffff; width:778px; height:220px; overflow:hidden; text-align:left; float:left; margin-top:10px; border:1px #e7e7e7 solid;}
.mainleft13s{ float:left; display:inline; width:210px; height:220px; overflow:hidden; margin-left:8px;margin-top:10px;border:1px #e7e7e7 solid; margin-bottom:20px;}
.mub_a{ margin-top:8px;}
.mub_b{ margin-top:12px;}

a.wantGo,a.wantGo:link,a.wantGo:visited,a.wantGo:hover,a.wantGo:active{background:url(../images/newP_03a.gif) no-repeat; display:block; width:69px; height:21px; color:#ffffff; line-height:21px; text-align:center; margin:5px auto 0px auto;}
#Every_day_special,#New_Products{width:545px; height:280px; float:left; display:inline; overflow:hidden; border:1px #EEEEEE solid; border-top-color:#FF9900; position:relative;}
#Every_day_special h3{height:31px; width:100%; background:#FF9900 url(../images/tejia_01a_c.gif) no-repeat left top; overflow:hidden;}
#Every_day_special label{ position:absolute; background:url(../images/tejia_02a.gif) no-repeat left top; width:173px; height:41px; display:inline-block; margin-left:185px; top:3px; padding-left:30px;}
#Every_day_special label span{ display:inline-block; width:30px; height:26px; color:#E60000; font:bold 18px/26px Verdana; text-align:center; margin-left:14px; margin-top:5px; padding-left:1px;}
#Every_day_special ul,#New_Products ul{width:100%;}
#Every_day_special ul li,#New_Products ul li{ float:left; display:inline; width:181px;font-family:宋体; font-size:12px; text-align:center; line-height:20px;}
#Every_day_special ul li a.imgs,#New_Products ul li a.imgs{ display:block; margin-top:15px;}
#Every_day_special ul li .title,#New_Products ul li .title{ color:#000000; display:block; height:20px; padding:0px 3px; overflow:hidden;}
#Every_day_special ul li del,#New_Products ul li del{color:#88889E;}
#Every_day_special ul li .price,#New_Products ul li .price{font-size:14px; font-weight:bold; color:#bd0303}
#New_Products{border:1px #EEEEEE solid;}
#New_Products h3{height:27px; width:100%; background:#FF9900 url(../images/newP_02a.jpg) no-repeat left top; overflow:hidden;}
/*****guanggao****/
.slides { position:relative; z-index:1; overflow:hidden; width:545px; height:310px;  border:1px solid #E4E4E4;}
.slide-pic { overflow:hidden; width:545px;}
.slide-pic img { width:545px; height:273px;}
.slide-pic li { display:none; }
.slide-pic li.cur { display:block; }
.slide-li {border-top:2px #d12300 solid; width:546px; overflow:hidden; position:absolute; z-index:2; left:0; bottom:0; background-color:#bfbfbf;}
.slide-li li { float:left; width:77px; height:35px; line-height:35px; margin-right:1px; text-align:center; background:url(../images/guanbg.jpg) repeat-x;}
.slide-li a { display:block; width:77px; height:35px; font-size:12px; color:#1f1f1f; }
.slide-li .cur a, .slide-li a:hover { color:#ffffff; text-decoration:none;  background:url(../images/guanbgho.jpg) repeat-x;}
.op li { background:#666; opacity: 0.7; filter:alpha(opacity=70);}
.op li.cur { background:#FFF; }
.TindexR_oneOther_ul{ margin-left:2px;}
.TindexR_oneOther_ul li{display:inline-block; border-bottom:1px #ffffff solid; }
.TindexR_oneOther_ul a{color:#808080;}
/**/
.main_one_ping #time_priod{ float:left; display:inline; overflow:hidden;}
.main_one_ping #time_priod a{ float:left; display:inline-block; height:48px; background:url(../images/time_priod.gif) left top; margin-right:14px;}
.main_one_ping #time_priod a#a1_c{ background-position:0px -48px; width:115px;}
.main_one_ping #time_priod a#a2_c{ background-position:-130px -48px; width:156px;}
.main_one_ping #time_priod a#a3_c{ background-position:-302px -48px; width:155px;}
.main_one_ping #time_priod a#a4_c{ background-position:-470px -48px; width:154px;}
.main_one_ping #time_priod a#a5_c{ background-position:-638px -48px; width:115px; margin-left:1px; margin-right:0px;}

.main_one_ping #time_priod a:hover,.main_one_ping #time_priod a.hover{-webkit-transition:all 0.25s ease-in-out; -moz-transition:all 0.25s ease-in-out; -o-transition:all 0.25s ease-in-out; -ms-transition:all 0.25s ease-in-out; transition:all 0.25s ease-in-out;}
.main_one_ping #time_priod a#a1_c:hover,.main_one_ping #time_priod a#a1_c.hover{ background-position:0px 0px; width:115px;}
.main_one_ping #time_priod a#a2_c:hover,.main_one_ping #time_priod a#a2_c.hover{ background-position:-130px 0px; width:156px;}
.main_one_ping #time_priod a#a3_c:hover,.main_one_ping #time_priod a#a3_c.hover{ background-position:-302px 0px; width:155px;}
.main_one_ping #time_priod a#a4_c:hover,.main_one_ping #time_priod a#a4_c.hover{ background-position:-470px 0px; width:154px;}
.main_one_ping #time_priod a#a5_c:hover,.main_one_ping #time_priod a#a5_c.hover{ background-position:-638px 0px; width:115px; margin-left:1px; margin-right:0px;}
/**/
.Item_banner{ float:left; float:left\0; float:left\9\0; *float:none; _float:none;}
.Item_banner h3{float:left; display:inline-block; height:44px; width:240px; overflow:hidden;}
.Item_banner h3.mot1c{background:url(../images/Mom_Zone_one.gif) no-repeat left bottom;text-indent:-9999px;}
.Item_banner h3.mot2c{background:url(../images/Mom_Zone_two.gif) no-repeat left bottom;text-indent:-9999px;}
.Item_banner h3.mot3c{background:url(../images/Mom_Zone_Three.gif) no-repeat left bottom;text-indent:-9999px;}
.Item_banner h3.mot4c{background:url(../images/Mom_Zone_Four.gif) no-repeat left bottom;text-indent:-9999px;}
.Item_banner h3.mot5c{background:url(../images/Mom_Zone_Five.gif) no-repeat left bottom;text-indent:-9999px;}
.Item_banner .ulc{ float:left; display:inline; border-bottom:3px #FFDA71 solid; height:41px; width:760px; overflow:hidden;}
.Item_banner .ulc ul{ float:right; display:inline;}
.Item_banner .ulc ul li{ float:left; display:inline; padding-top:11px; line-height:30px; margin-right:15px;}
.Item_banner .ulc ul li a,.Item_banner .ulc ul li a:link,.Item_banner .ulc ul li a:visited{color:#898989;}
.Item_banner .ulc ul li a.more,.Item_banner .ulc ul li a.more:link,.Item_banner .ulc ul li a.more:visited,.Item_banner .ulc ul li a:hover,.Item_banner .ulc ul li a:active{color:#FF7800;}
/**/
.Item_banner dl{width:1000px; float:left; overflow:hidden;}
.Item_banner dl dd{float:left;}
.Item_banner dl dd ul{width:530px; overflow:hidden; margin-left:10px;}
.Item_banner dl dd ul li{float:left; display:inline; border:1px #DFDFDF solid; width:160px; height:235px; margin-left:14px; _margin-left:13px; text-align:center; line-height:22px;}
.Item_banner dl dd ul li a.imgs{ display:block;}
.Item_banner dl dd ul li .title{ color:#000000; display:block; height:20px; padding:0px 3px; overflow:hidden;}
.Item_banner dl dd ul li del{color:#88889E; font-weight:bold; display:block;}
.Item_banner dl dd ul li .price{font-size:14px; font-weight:bold; color:#bd0303;display:block;}
/**/
.Item_banner dl dd .Ri_Mub{border:1px #DFDFDF solid; width:208px; margin-left:10px; text-align:center; overflow:hidden;}
.Item_banner dl dd .Ri_Mub a{ display:block; width:204px; height:78px; margin:auto;}
.Item_banner dl dd .Ri_Mub a.xi_c{border-bottom:1px #DFDFDF solid;}
/**/
.Item_banner .brand_C{ float:left; border:1px #DFDFDF solid; height:40px; width:998px; padding-top:10px; padding-bottom:10px; overflow:hidden;}
.Item_banner .brand_C a{ float:left; display:inline-block; width:90px; height:40px; margin-left:9px;}
/**********pinlun*********/
.mainleft12s h4{padding:3px 0px 3px 10px;border-bottom:1px #e7e7e7 solid; background-color:#f9fafa; color:#000000; font-weight:bold;}
.mainleft12s ul{width:999px; float:left; overflow:hidden; display:inline-block; margin-top:15px; margin-bottom:10px; margin-left:1px;}
.mainleft12s ul li{ float:left; display:inline; height:90px; overflow:hidden; }
.mainleft12s ul li a.imgs{ float:left; display:inline-block; border:1px #e7e7e7 solid; margin-right:5px;margin-left:5px;}
.mainleft12s ul li img{ float:left; display:inline-block; vertical-align:middle; padding:3px; }
.mainleft12s ul li{ float:left; display:inline; width:255px;}
.mainleft12s dl{ margin:0px;}
/*-----------footer.htm-----------*/
.Tfooter_div{ width:998px; border:1px #D7D7D7 solid; padding-bottom:10px; margin-top:0px;margin-top:0px\0;margin-top:0px\9\0;*margin-top:10px;_margin-top:10px;}
.Tfooter_ma{ width:1000px; margin:auto; height:120px; padding-top:20px;}
.Tfooter_left{ width:198px; text-align:center; float:left; display:inline;}
.Tfooter_right{ width:800px; float:left; display:inline;}
.Tfooter_ul{ position:relative; margin:0px; padding:0px; width:800px;}
.Tfooter_ul li{ float:left; display:inline-block; width:188px; line-height:20px; color:#7d7d7d; text-align:left;}
.Tfooter_ul li span{ padding-left:0px; display:inline-block; padding-bottom:5px;}
.Tfooter_ul li span img{ margin-right:5px; width:20px; height:20px; vertical-align:middle;}
.Tfooter_ul li a,.Tfooter_ul li a:link{ color:#7d7d7d;}
.Tfooter_ul li ul li{ border:none; text-align:left; padding-left:25px; width:163px; overflow:hidden; text-align:left;}
.out_div{width:960px; margin:0 auto;font:12px/1.5 Verdana, Arial, Helvetica, sans-serif;}
.Tfooter_pic{ width:715px; margin:20px auto;}
.Tfooter_info{ text-align:center; line-height:24px; margin-top:15px;}
.fl { float:left; _display:inline; }
.fr { float:right; _display:inline; }
.Tfooter_info{ text-align:center;}
.font02s{ color:#666666; font-weight:bold; font-size:12px;}
.font05s{ color:#666666; font-weight:bold; font-size:14px;}