/**购物车共用**/
body {color: #4d4d4d;}
strong {font-weight: 700;}
.img {display: block; border: 1px solid #e0e0e0; height: 62px; margin-right: 5px; padding-top: 2px; text-align: center; width: 64px;}
.gtlt {font-family: simsun; letter-spacing: -.5em; *zoom: 1;}
/**popwin**/
*html, *html body {_background-attachment: fixed; _background-image: url(about: blank);}
*html .pop-win {position: absolute; top: expression(eval(document.documentElement.scrollTop));}
.pop-win {position: fixed; top: 0; left: 50%; display: none; border: 8px solid #878787; overflow: hidden; background-color: #fff; z-index: 9999;}
.pop-win .hd {height: 30px; line-height: 30px; font-family: "macrosoft yahei"; background: url("../images/logindl_bg.gif") repeat-x scroll 0 -159px transparent;}
.close-win {width: 24px; height: 24px; position: absolute; right: 10px; top: 3px; text-indent: -999em; overflow: hidden; background: url(../images/logindl_bg.gif) no-repeat 0 -30px;}
.w1000 {width: 1000px; margin-left: -508px;}

/**购物流程**/
/*新的*/
.flow-step {float: right; margin-top: 15px; height: 32px; line-height: 32px;}
.flow-step li {float: left; width: 200px; padding: 0 15px 0 0; background: url("../images/order/bg_shopcart.gif") no-repeat scroll 100% 0 #e0e0e0; font-size: 14px; list-style: none outside none; text-align: center;}
.flow-step-no1 .step-1, .flow-step-no2 .step-2, .flow-step-no3 .step-3 {background-color: #f90; background-position: 100% 0; color: #fff; font-weight: 700;}
.flow-step-no2 .step-1, .flow-step-no3 .step-2 {background-color: #ffedb5; background-position: 100% -64px; color: #4d4d4d;}
.flow-step-no3 .step-1 {background-color: #ffedb5; background-position: 100% -32px; color: #4d4d4d;}
.flow-step .step-3 {background-image: none;}
/*原来的*/
.headerLogo {background: url("http://css.muyingzhijia.com/themes/default/images/telephone.gif") no-repeat scroll right center transparent; height: 70px; position: relative;}
.headerLogo img { display: inline-block; float: left;}
.wfc_myCart, .wfc_Order_information, .wfc_Order_submitted_successfully {  left: 300px;  margin: 0; padding: 0; position: absolute; top: 15px; width: 430px; z-index: 3;}
.wfc_myCart li, .wfc_Order_information li, .wfc_Order_submitted_successfully li { display: inline-block; float: left;}

/**购物车列表**/
.wrap-cart .title {margin-bottom: 10px;}
.cart-hd-left, .cart-hd-right {float: left; width: 20px; height: 30px; background: url("../images/order/bg_shopcart.gif") no-repeat scroll 100% -96px;}
.cart-hd-right {float: right; background-position: 100% -156px;}
.wrap-cart .title h2 {float: left; width: 960px; background: url("../images/order/bg_shopcart.gif") repeat-x scroll 100% -126px #f90; color: #fff; font-weight: 700; line-height: 30px;}
.cart-head {padding: 0 10px; height: 30px; line-height: 30px; background: url("../images/order/bg_shopcart.gif") repeat-x scroll 100% -186px #f4f4f4;}
.cart-list .column {float: left; position: relative; width: 70px; padding-right: 10px; word-break: break-all; word-wrap: break-word; text-align: center;}
.cart-list .col-name {width: 500px; text-align: left;}
.cart-list .col-number {width: 118px;}
.cart-list .col-operation {width: 100px; padding-right: 0;}
.cart-body {margin-bottom: 10px;}
.cart-body li {border-bottom: 1px dashed #f4f4f4; padding: 5px 10px; overflow: hidden;}
.cart-body .col-name .img {float: left;}
.cart-body .col-name .goods-info {width: 420px;}
.cart-body del {display: block; color: #878787;}
.cart-body .wrap-input {float: left; margin-left: 20px; display: inline; font-size: 12px; font-weight: 400; overflow: hidden;}
.cart-body .wrap-input .input {float: left; margin-left: -1px; width: 34px; height: 18px; line-height: 18px; overflow: hidden; text-align: center; border: 1px solid #878787;}
.cart-body .wrap-input .input-focus {border: 1px solid #ff7800;}
.cart-body .wrap-input .add, .cart-body .wrap-input .reduce {float: left; border: 1px solid #878787; margin-left: -1px; width: 20px; height: 20px; line-height: 19px; font-size: 14px; text-align: center; background-color: #f4f4f4; background: -moz-linear-gradient(center top, #fff 0%, #f4f4f4 47%, #e0e0e0 100%) repeat scroll 0 0 transparent; cursor: pointer;}
.cart-body .wrap-input .reduce {margin-left: 0;}

/**提示**/
.col-tips {position: absolute; top: 26px; left: 20px; width: 72px; padding: 2px; text-align: center; border: 1px solid #f90; color: #e60; background-color: #ffedb5;}
.col-operation .col-tips {left: 0; top: 0; padding: 5px; width: 112px; text-align: left; border: 1px solid #bababa; color: #4d4d4d; background-color: #fff;}
.col-operation .col-tips .btn_s_o {margin-right: 5px;}

/**优惠商品模块**/
/*赠品换购*/
.mod-favorable .bd {padding-bottom: 10px;}
.mod-favorable dl {float: left; padding: 10px; border-bottom: 1px dashed #f4f4f4; width: 229px;}
.mod-favorable dt {float: left;}
.mod-favorable .name {height: 36px; margin-bottom: 5px; overflow: hidden;}
.goods-list dl {float: left; padding: 10px; width: 229px; border-bottom: 0 none;}
.goods-list dt {float: left;}
.goods-list .goods-name, .goods-list .price {margin-bottom: 3px;}
.goods-list .goods-name {height: 18px; overflow: hidden;}
.goods-list del {color: #bababa; margin-right: 5px;}
.goods-list .now {color: #e60000; font-weight: 700;}

.sign-gift, .sign-redemption {float: left; margin-left: -10px; display: inline; width: 30px; height: 28px; background: url("../images/order/icon_shopcart.gif") no-repeat 0 0;}
.sign-redemption {background-position: 0 -30px;}
.cart-gift li, .cart-redemption li {background-color: #fbfef8; border-bottom: 1px solid #fff;}
.icon-gift, .icon-redemption, .icon-reduce {padding: 1px 3px; color: #fff; margin-right: 5px; background-color: #7fbc41;}
.icon-reduce {padding: 3px; margin-left: 5px; margin-right: 0; background-color: #e60000; font-weight: 700;}
.cart-redemption li {background-color: #f7fcfe;}
.icon-redemption {background-color: #ff7800;}
.hd-fullReduction {height: 18px; line-height: 18px; background-color: #f4f4f4;}
.hd-fullReduction .title {float: left; padding-right: 10px; font-weight: 700;}
.hd-fullReduction .title span {margin-right: 5px;}
.hd-fullReduction .title .tips {margin-left: 15px; font-weight: 400;}
.hd-fullReduction .money {float: right; width: 260px; text-align: left;}
.hd-fullReduction .money strong {float: left; width: 70px; padding-right: 10px; text-align: center;}

/**结算**/
.cart-total .total {padding: 0 10px 10px 0; line-height: 30px; text-align: right;}
.cart-total .cart-clear {padding: 10px;}
.cart-total .coupon {padding: 10px 15px;}
.cart-total .coupon .text-input {border: 1px solid #bababa; margin-right: 3px; height: 18px; vertical-align: middle;}
.cart-total .coupon .btn_s {vertical-align: middle;}
.cart-total .coupon .col-tips {position: relative; top: 0; left: 10px; padding: 2px 10px; width: auto;}
.cart-total .item {display: inline; margin-left: 10px;}
.cart-total .all {display: inline; text-align: right; float: right;}
.cart-total .total-price {font-size: 14px;}
.cart-total .total-price strong {color: #e60000; font-size: 22px;}
.cart-total .noFreight {color: #bababa; margin-right: 10px;}
.cart-button {padding: 6px 15px 6px 10px; background-color: #f4f4f4;}





