/***菜单部分***/
.wrap-menu{border:1px #f4f4f4 solid;padding:5px 5px 0; width:158px; overflow:hidden; text-align:left;}
.mod-menu{margin-bottom:15px;}
.mod-menu h3{ border:1px #fee0b1 solid;border-bottom:0 none; padding-left:10px;margin-bottom:5px; width:146px; height:27px; background:url(../images/usercenter/bg_side_title.gif) repeat-x;line-height:27px; font-size:14px;font-weight: 700;}
.mod-menu dd li{ border-bottom:1px #F7F7F7 solid; width:148px; height:30px; padding-left:10px; background:url(../images/usercenter/side_arrow.png) no-repeat 146px 0;  font-size:14px; line-height:30px;}
.mod-menu dd a:hover{color:#e60000;}
.mod-menu .status-hover{ background:#ebebeb url(../images/usercenter/side_arrow.png) no-repeat 146px -32px;}
.mod-menu .status-hover a:hover{color:#333;text-decoration: none;}
/***内容部分***/
.wrap-mycenter{ width: 820px;}
.wrap-mycenter .mod-hd{display:block; background:url(../images/usercenter/bg_main_title.gif) repeat-x; height:28px; line-height:28px;font-weight: 700; padding-left:15px;margin-top:6px;}
.wrap-mycenter .mod-bd{padding:10px;border:1px #F4F4F4 solid;width:798px; }

.tab-menu{border-bottom:1px #ffda71 solid;padding-left:20px;margin-bottom:5px; }
.tab-menu:after {clear: both; content: ""; display: block; height: 0;line-height: 0; visibility: hidden;}
.tab-menu li{float:left; position:relative;bottom:-1px;margin-right:5px;border:1px solid #fff;border-bottom:none medium;}
.tab-menu li a{display:block;padding:5px 15px;font-size:12px;text-decoration: none;}
.tab-menu .status-on{border:1px solid #ffda71 ;border-bottom:1px solid #fff;font-weight:700;}
.tab-menu .status-on a{color:#ff9900}
/*表格*/
.mod-content .wfc_table{width:100%;margin-bottom:10px;display:none;overflow: hidden;}
.mod-content .wfc_table th{padding:5px; border-bottom:1px #F0F0F0 solid; color:#666; font-weight:700;}
.mod-content .wfc_table td{padding:5px; border-bottom:1px dotted #e0e0e0; vertical-align: top; word-break: normal;  word-wrap: break-word;}
.td_top_border{border-top:1px #FAFAFA solid;}
.font_color_expired{color:#696969; text-decoration:none;}
.font_color_use{color:#90B34D; text-decoration:none;}
.wfc_table select{border:1px #626262 solid;background-color:#fff; color:#626262;}
.wfc_table select option{ background-color:#fff; color:#000; border:none;}

/*表单*/
legend{display: none;}
select{width: 220px;padding:4px 6px; position: relative; line-height: 20px;  border-radius: 3px 3px 3px 3px; vertical-align: middle; background-color: #fff; border: 1px solid #bababa;font-size:14px; }
label{vertical-align: middle;}
input[type="radio"], input[type="checkbox"] { cursor: pointer; line-height: normal; vertical-align: middle}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"]{
    background-color: #fff;
    border: 1px solid #bababa;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus{
    border-color: #ff9900;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 120, 0, 0.6);
    outline: 0 none;}
.control-group { margin-bottom: 20px;font-size: 14px;color: #1a1a1a; }
.control-group abbr{color:#d00000;}
.control-group:before, .control-group:after { content: ""; display: table;  line-height: 0;}
.control-group:after { clear: both;}
.control-group .control-label { float: left;  width: 80px;  margin-right:15px; font-size:14px;color:#666;text-align: right; }
.control-group .text-input {padding: 4px 6px;border-radius: 3px 3px 3px 3px;display: inline-block;font-size: 14px;height: 20px;line-height: 20px;}
.control-group span{font-size:12px;margin-left:10px;}
.control-group strong{font-weight: 400;}
.control-group .font-gray {color: #bababa;}
.control-group .icon-help a{color:#619eb1;}
.control-tel .controls span{margin-right:10px;}
.form-actions span{margin-left:0;}
.icon-help{height:16px;padding-left:20px;background:url(../images/usercenter/icon_16x16.gif) no-repeat 0 -16px;}
