/**购物车共用**/
body {color: #4d4d4d;}
strong {font-weight: 700;}
.img {display: block; border: 1px solid #e0e0e0; height: 62px; margin-right: 5px; padding-top: 2px; text-align: center; width: 64px;}
.gtlt {font-family: simsun; letter-spacing: -.5em; *zoom: 1;}
/**popwin**/
*html, *html body {_background-attachment: fixed; _background-image: url(about: blank);}
*html .pop-win {position: absolute; top: expression(eval(document.documentElement.scrollTop));}
.pop-win {position: fixed; top: 0; left: 50%; display: none; border: 8px solid #878787; overflow: hidden; background-color: #fff; z-index: 9999;}
.pop-win .hd {height: 30px; line-height: 30px; font-family: "macrosoft yahei"; background: url("../images/logindl_bg.gif") repeat-x scroll 0 -159px transparent;}
.close-win {width: 24px; height: 24px; position: absolute; right: 10px; top: 3px; text-indent: -999em; overflow: hidden; background: url(../images/logindl_bg.gif) no-repeat 0 -30px;}
.w1000 {width: 1000px; margin-left: -508px;}
/**购物流程**/
/*新的*/
.flow-step {float: right; margin-top: 15px; height: 32px; line-height: 32px;}
.flow-step li {float: left; width: 200px; padding: 0 15px 0 0; background: url("../images/order/bg_shopcart.gif") no-repeat scroll 100% 0 #e0e0e0; font-size: 14px; list-style: none outside none; text-align: center;}
.flow-step-no1 .step-1, .flow-step-no2 .step-2, .flow-step-no3 .step-3 {background-color: #f90; background-position: 100% 0; color: #fff; font-weight: 700;}
.flow-step-no2 .step-1, .flow-step-no3 .step-2 {background-color: #ffedb5; background-position: 100% -64px; color: #4d4d4d;}
.flow-step-no3 .step-1 {background-color: #ffedb5; background-position: 100% -32px; color: #4d4d4d;}
.flow-step .step-3 {background-image: none;}
/*原来的*/
.headerLogo {background: url("http://css.muyingzhijia.com/themes/default/images/telephone.gif") no-repeat scroll right center transparent; height: 70px; position: relative;}
.headerLogo img { display: inline-block; float: left;}
.wfc_myCart, .wfc_Order_information, .wfc_Order_submitted_successfully {  left: 300px;  margin: 0; padding: 0; position: absolute; top: 15px; width: 430px; z-index: 3;}
.wfc_myCart li, .wfc_Order_information li, .wfc_Order_submitted_successfully li { display: inline-block; float: left;}

/**购物车列表**/
.wrap-cart .title {margin-bottom: 10px;}
.cart-hd-left, .cart-hd-right {float: left; width: 20px; height: 30px; background: url("../images/order/bg_shopcart.gif") no-repeat scroll 100% -96px;}
.cart-hd-right {float: right; background-position: 100% -156px;}
.wrap-cart .title h2 {float: left; width: 960px; background: url("../images/order/bg_shopcart.gif") repeat-x scroll 100% -126px #f90; color: #fff; font-weight: 700; line-height: 30px;}
.cart-head {padding: 0 10px; height: 30px; line-height: 30px; background: url("../images/order/bg_shopcart.gif") repeat-x scroll 100% -186px #f4f4f4;}
.cart-list .column {float: left; position: relative; width: 70px; padding-right: 10px; word-break: break-all; word-wrap: break-word; text-align: center;}
.cart-list .col-name {width: 500px; text-align: left;}
.cart-list .col-number {width: 118px;}
.cart-list .col-operation {width: 100px; padding-right: 0;}
.cart-body {margin-bottom: 10px;}
.cart-body li {border-bottom: 1px dashed #f4f4f4; padding: 5px 10px; overflow: hidden;}
.cart-body .col-name .img {float: left;}
.cart-body .col-name .goods-info {width: 420px;}
.cart-body del {display: block; color: #878787;}
.wrap-input {float: left; margin-left: 20px; display: inline; font-size: 12px; font-weight: 400; overflow: hidden;}
.wrap-input .input {float: left; margin-left: -1px; width: 34px; height: 18px; line-height: 18px; overflow: hidden; text-align: center; border: 1px solid #878787;}
.wrap-input .input-focus {border: 1px solid #ff7800;}
.wrap-input .add, .wrap-input .reduce {float: left; border: 1px solid #878787; margin-left: -1px; width: 20px; height: 20px; line-height: 19px; font-size: 14px; text-align: center; background-color: #f4f4f4; background: -moz-linear-gradient(center top, #fff 0%, #f4f4f4 47%, #e0e0e0 100%) repeat scroll 0 0 transparent; cursor: pointer;}
.wrap-input .reduce {margin-left: 0;}
.cart-empty {border-bottom: 1px solid #f4f4f4; padding:10px 0; text-align: center; font-size: 14px; background-color: #fff; line-height: 30px;}
/**提示**/
.col-tips {position: absolute; top: 26px; left: 20px; padding: 2px 5px; text-align: center; border: 1px solid #f90; color: #e60; background-color: #ffedb5;}
.col-number .col-tips {width:66px;}
.col-operation .col-tips {left: 0; top: 0; padding: 5px; width: 112px; text-align: left; border: 1px solid #bababa; color: #4d4d4d; background-color: #fff;}
.col-operation .col-tips .btn_s_o {margin-right: 5px;}
.pop-win .col-tips,.mod-buyInfo .col-tips {position:relative; float:left; top:0; height:20px; line-height: 20px; font-weight: 400; margin-top: 4px; padding: 0px 10px; border-radius: 4px 4px 4px 4px;}

/**优惠商品模块**/
/*赠品换购*/
.mod-favorable .bd {padding-bottom: 10px;}
.mod-favorable dl {float: left; padding: 10px; border-bottom: 1px dashed #f4f4f4; width: 229px;}
.mod-favorable dt {float: left;}
.mod-favorable .name {height: 36px; margin-bottom: 5px; overflow: hidden;}
.goods-list dl {float: left; padding: 10px; width: 229px; border-bottom: 0 none;}
.goods-list dt {float: left;}
.goods-list .goods-name, .goods-list .price {margin-bottom: 3px;}
.goods-list .goods-name {height: 18px; word-break: break-all; word-wrap: break-word; overflow: hidden;}
.goods-list del {color: #bababa; margin-right: 5px;}
.goods-list .now {color: #e60000; font-weight: 700;}

.sign-gift, .sign-redemption {float: left; margin-left: -10px; display: inline; width: 30px; height: 28px; background: url("../images/order/icon_shopcart.gif") no-repeat 0 0;}
.sign-redemption {background-position: 0 -30px;}
.cart-gift li, .cart-redemption li {background-color: #fbfef8; border-bottom: 1px solid #fff;}
.icon-gift, .icon-redemption, .icon-reduce {padding: 1px 3px; color: #fff; margin-right: 5px; background-color: #7fbc41;}
.icon-reduce {padding: 3px 5px; margin-left: 5px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius:4px;margin-right: 0; background-color: #e60000; font-weight: 700;}
.cart-redemption li {background-color: #f7fcfe;}
.icon-redemption {background-color: #ff7800;}
.hd-fullReduction {height: 18px; line-height: 18px; background-color: #f4f4f4;}
.hd-fullReduction .title {float: left; padding-right: 10px; font-weight: 700;}
.hd-fullReduction .title span {margin-right: 5px;}
.hd-fullReduction .title .tips {margin-left: 15px; font-weight: 400;}
.hd-fullReduction .money {float: right; width: 260px; text-align: left;}
.hd-fullReduction .money strong {float: left; width: 70px; text-align: center;}
.hd-combine .col-subtotal {margin-left:208px;text-align: center;}
.hd-combine .col-operation {margin-left:80px;}
/**结算**/
.cart-total .total {padding: 0 10px 10px 0; line-height: 30px; text-align: right;}
.cart-total .coupon {padding: 10px 15px;}
.cart-total .coupon .text-input {border: 1px solid #bababa; margin-right: 3px; height: 18px; vertical-align: middle;}
.cart-total .coupon .btn_s {vertical-align: middle;}
.cart-total .coupon .col-tips {position: relative; top: 0; left: 10px; padding: 2px 10px; width: auto;}
.cart-total .item {display: inline; margin-left: 10px;}
.cart-clear {padding: 10px;}
.all {display: inline; text-align: right; float: right;}
.total-price {font-size: 14px;}
.total-price strong {color: #e60000; font-size: 22px;}
.noFreight {color: #bababa; margin-right: 10px;}
.cart-button {padding: 6px 0; background-color: #f4f4f4; overflow: hidden; zoom: 1;}

/**详情页**/
.picture {float: left; width: 320px; z-index: 2; position: relative;}
.goods-info {float:right; width:660px; z-index:1; position: relative;}
.goods-info h1 {font:700 16px/24px Arial,verdana; word-break: break-all; white-space: normal; color: #1a1a1a;}
.goods-info .promotion-title {color: #e60000;font-size:14px;}
.goods-info ul {padding-left:10px; padding-top:10px; overflow: hidden;}
.goods-info li {padding-bottom: 10px; position: relative; z-index: 2;}
.goods-info li .dt {float:left; width: 60px; text-align: right; color: #878787;}
.goods-info li .dd {padding-left:70px;}
.goods-info .mod-buyInfo, .goods-info .mod-property{border: 1px solid #878787; }
.goods-info .item-price {line-height: 24px;}
.goods-info .font-price {font-size: 20px; color: #e60000; margin-right: 10px; font-weight: normal;}
.goods-info .item-buyTime em {color: #e60000; font-style:normal;}
.goods-info .buy-type {display: inline-block; background-color: #e60000; padding: 0 2px; color: white; font-weight: normal; height: 20px; line-height: 20px;}
.goods-info .item-promotion p {padding-bottom:5px;}
ul.free-goods {padding-left:0;padding-top:0;}
ul.free-goods li {float:left; margin-right:10px; width:180px; overflow: hidden;}
ul.free-goods li img {float:left;border:1px solid #f4f4f4; }
ul.free-goods li p {padding-left:60px; padding-bottom: 5px;}
ul.free-goods li .now {color: #e60000;}
.goods-info .mod-property {border-bottom: 0 none;}
.goods-info .mod-property .dd a { background-color: #fff; margin-right:5px; border: 1px solid #bababa; cursor: pointer; display: inline-block; line-height: 24px; padding:0 6px; text-decoration: none; word-break: keep-all;}
.goods-info .mod-property .dd a:hover, .mod-property .dd a.selected {border: 1px solid #f60; background: url("http://css.muyingzhijia.com/themes/default/Template/afd5/images/bg-selected.png") no-repeat scroll right bottom transparent; box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.6); cursor: pointer; text-decoration: none;}
.goods-info .mod-buyInfo {border-top: 0 none;}
.goods-info .mod-buyInfo .wrap-input {margin-left:0;}
.goods-info .mod-buyInfo .col-tips {margin-top:0;}
.goods-info .wrap-btn {padding-top: 5px;}
.goods-info .wrap-btn .btn_b_r {margin-right:20px;}

.icon-cart {float:left; width:38px; height:38px; background: url(../images/order/icon_cart.png) no-repeat scroll 0 0 transparent;}
.icon-favi {float:left; margin-top:8px; margin-right:2px; width:16px; height:16px; background: url(../images/order/icon_star.png) no-repeat scroll 0 0 transparent;}

/*分享*/
.mod-share {margin-top:10px; padding:5px; height: 22px; line-height:22px;}

/*组合购*/
.wrap-combor { margin: 10px 0; overflow: hidden;}
.wrap-combor .hd h3 {font-size: 14px;}
.wrap-combor .bd {padding:10px;width:978px;}
.wrap-combor .goods_list {float:left; width:790px; overflow: hidden;}
.wrap-combor .goods_list dl{width:120px; margin: 0 0 10px 0; position: relative;}
.wrap-combor .goods_list .aid {position: absolute; right: 5px; bottom: 5px;}
.wrap-combor .info {float:right; width:158px; background-color:#f4f4f4; padding:10px; line-height: 24px;}
.wrap-combor .info .btn_m {margin-top:5px;}

/*相关购*/
.mod-relatedBuy .goods_list {width:788px;}
.mod-relatedBuy .goods_list dl{width:130px; margin-right: 7px;}

/*商品介绍*/
.wrap-info .main .hd {padding-left:0; height:30px; border-top:0 none;border-bottom:1px solid #f4f4f4; _overflow:hidden;background-color: #fff; }
.wrap-info .main .bd {border-top:0 none; position: relative;}
.mod-goodsInfo .bd {padding:10px;}
.tab-hd li {float: left; border: 1px solid #ffda71; border-bottom: 0 none;  cursor:pointer; margin-right: -1px;}
.tab-hd li h3 {background-color: #fff6d7;border:1px solid #fff; display: block; font-size: 14px; height: 27px; line-height: 26px;  padding: 0 10px; text-align: center;}
.mod-goodsInfo .tab-hd li h3 {width:100px;}
.tab-hd li h3 a {color: #f90; font-weight: normal; outline: medium none; text-decoration: none;}
.tab-hd li.status-on {border-color: #f4f4f4; position: relative;}
.tab-hd li.status-on h3 {background-color: #fff;height: 28px;}
.tab-hd li.status-on h3 a {color: #ff7800; font-weight: 700;}
.mod-detail-info {margin-bottom: 10px; overflow: hidden;}
.mod-detail-info .mod-hd h3 {padding-bottom:5px; margin-bottom:5px; border-bottom: 1px solid #878787; zoom:1;}
.id-features dl {float:left; width:360px; padding-bottom: 10px; line-height: 24px;}
.id-features dl dt {float:left; padding:0 5px; width: 60px; margin-right: 10px; background-color: #f4f4f4;}
.id-features dl dd {float:left;}
/*评论回复*/
.arrow-top {position: absolute; left: 28px; top: -11px; width: 12px; height: 12px; display: inline-block; overflow: hidden; color: #f4f4f4;}
.arrow-top i {position: absolute; bottom: -11px; font: 12px/21px Simsun; }
.icon-star{display: inline-block; height: 16px; line-height: 0;margin: -3px 3px 0; overflow: hidden; text-align: left; vertical-align: middle;width: 80px;background: url(../images/order/icon_star.png) no-repeat scroll 0 -16px transparent;}
.icon-star em{display: block; height:16px; line-height:0; overflow:hidden; background: url(../images/order/icon_star.png) no-repeat scroll 0 0 transparent;}
.info-tips {padding:10px; background-color: #f4f4f4; overflow: hidden; _zoom:1;}
.satisfaction {padding: 5px; margin-bottom:10px; font-size:14px;border-bottom:1px solid #f4f4f4;}
.satisfaction-point strong {color: #f90; font-size: 26px; font-weight: 700;}

.mod-comments .comments-hd { padding-left:10px; background-color: #f4f4f4;height: 30px; position: relative;}
.mod-comments .comments-hd li {float: left; line-height: 30px;}
.mod-comments .comments-hd h3 {padding:0 30px; font-size:12px;}
.mod-comments .comments-hd a {text-decoration: none;}
.mod-comments .comments-hd .status-on { background-color: #fff; padding: 0 5px;}
.mod-comments .comments-hd .status-on h3 a { color: #ff7800; font-weight: 700; }

.list-comment li {border-bottom: 1px solid #878787; padding:10px 0; overflow: hidden; _zoom:1;}
.list-comment .user {float: left; padding: 0 10px; text-align: center; width: 60px;color: #878787;}
.list-comment .user span{ display: block;}
.list-comment .cont {float: right; width: 660px;}
.comment-operate a {height:16px;padding-left:20px; margin-right:15px; background: url(../images/order/icon_reply.png) no-repeat; color: #619eb1;}
.comment-operate a:hover {color: #f90 ; text-decoration: none;}
.comment-operate .btn-useful {background-position: 0 0;}
.comment-operate .btn-nouse {background-position: 0 -16px;}
.comment-operate .btn-reply {background-position: 0 -32px;}

.list-comment .title {position: relative; word-break: normal; word-wrap: break-word; }
.list-comment .title span {display: inline-block; vertical-align: middle;}
.list-comment .title .comment-tit {display: inline-block; word-break: normal; word-wrap: break-word;}
.list-comment .title .date {float: right; padding-right:10px;color:#878787;}
.list-comment .title .point strong {color:#f90; font-size:14px;}
.list-comment .text {color: #1a1a1a; padding:5px 0; }

.list-comment .reply { position: relative;margin-top: 10px; background: #f4f4f4; word-break: normal; word-wrap: break-word;}
.list-comment .reply .reply-more {padding: 10px 18px 0;}
.list-comment .reply .list-reply li {border-bottom: 1px solid #fff; overflow: hidden; padding: 10px; vertical-align: top;}
.list-comment .reply .list-reply .reply {margin: 0; overflow: hidden;}
.list-comment .reply .reply-user {float: left;margin-right:10px;}
.list-comment .reply .reply-cont {float: left;width: 590px; word-break: normal; word-wrap: break-word;}
.list-comment .reply .reply-name {color: #4d4d4d;}
.list-comment .reply .reply-date {float:right;color: #878787; }
.list-comment .reply .reply-post textarea {border: 1px solid #bababa;padding:10px; width: 618px; height: 54px; margin-bottom: 10px;font-size:12px;resize: none; overflow-y: hidden;}
.list-comment .reply .reply-post .wrap-btn {clear: both; height: 25px; text-align: right; width: 100%;}
.list-comment .reply .reply-post .wrap-btn .info {color: #878787; float: left;}
.list-comment .asking .reply-cont {width:640px;}

/*咨询*/
.mod-asking .info-tips p{}




